* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* SCROLL */


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #e6e5e5;
}


/* Handle */

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #b1afaf;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #c0bfbf;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #fff;
}

.container {
    width: 90%;
    height: 100%;
    margin: auto;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.absolute-center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.col {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
    align-content: center;
}

.space-between {
    justify-content: space-between;
}

.price:before {
    content: 'S/';
}

input,
button {
    outline: none;
}

.redireccionar {
    padding: 10px 30px;
    color: #fff;
    border: 0;
    border-radius: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    -webkit-transition: all 0.5s ease 0s;
    font-size: 18px;
    background: #ffb902;
    display: flex;
    margin: auto;
    cursor: pointer;
    outline: none;
}

.redireccionar a {
    color: #fff;
}

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    background: black;
    box-shadow: rgba(0, 0, 0, 0.22) 6px 1px 1px;
    z-index: 3;
    transition: all .2s linear;
}

.pointer{
    cursor:pointer;
}

/* -------------------------------- 

xheader 

-------------------------------- */

header {
    /* position: fixed;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: #000;
    text-align: center;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    z-index: 4;
    transition: 0.6s;
}

.row-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
}

.row-rev {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggle-btn-nav{
    display: none;
}
.toogle-mostrar{
    display: flex !important;
    position: fixed;
    z-index: 9999999;
    background-color: #fff !important;
    color: #222 !important;
    top: 100px;
        left: 25%;
    /* padding: 5px; */
    align-items: center;
    width: 50% !important;
    border-radius: 0 !important;
}
#modal-carrito-header .form-box-lo{
    top: 100px;
}

.nav-mov h3,
#check,
#btn,
#cancel {
    display: none;
}

#main-nav a:hover {
    color: #ffb902;
}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    object-fit: contain;
}

header .container {
    display: flex;
    position: relative;
}

.title-nav {
    display: none;
}

header nav {
    /*    padding-left: 30px;*/
}

header nav ul {
    display: flex;
}

.item-nav {
    display: flex;
    padding: 0 10px;
}

header nav ul li a {
    color: #bbb;
}

header .fa {
    color: #fff;
}

#cd-hamburger-menu {
    display: none;
}

#cd-cart-trigger {
    height: 100px;
    line-height: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.search-box {
    position: relative;
    top: 25%;
    height: 40px;
    background: #222;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.toggle-box-search{
    display:flex;
    /*background: #222;*/
    /*height: 40px;*/
    /*line-height: 40px;*/
    
}

.search-box input {
    /*width: 90%;*/
    width: 85%;
    height: 90%;
    margin: auto;
    background: none;
    border: 0;
    padding: 5px;
    color: #fff;
}

.search-btn {
    width: max-content;
    padding-right: 5px;
}

.user {
    padding: 0 0 0 35px;
}

#form-box {
    position: absolute;
    width: 320px;
    height: 480px;
    background: #f5f5f5;
    padding: 5px;
    /* display: none; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 999999;
    border-radius: 15px;
        box-sizing: border-box;
}

.btn-box {
    width: 90%;
    margin: 25px auto 15px auto;
    height: 50px;
    position: relative;
    box-shadow: 0 0 20px 9px #ffd7241f;
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin-top:15px;*/
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-size: 16px;
}

.activo-btn {
    width: 50% !important;
    height: 100%;
    background: #ffb902;
    border-radius: 30px;
    transition: .5s;
    color: #fff;
}

.input-group {
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* padding: 15px 0; */
    position: relative;
}

.input-field {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 0;
    /* border-radius: 5px; */
    margin-top: 15px;
    padding: 6px;
    font-size: 15px;
    background: none;
    border-bottom: 1px solid #878787;
}

.box-row {
    /* background: red; */
    display: flex;
    justify-content: left;
    height: 40px;
    line-height: 40px;
    /* align-items: center; */
    /* margin-top: 10px; */
    text-align: justify;
}

.uno {
    /* background: yellow; */
    margin-top: 20px;
}

.dos {
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-top: 4px;
}

#register {
    display: none;
    padding: 0;
}

#register span {
    color: #777;
    font-size: 13px;
    padding-left: 5px;
    line-height: 20px;
}

.mostrar-form {
    display: flex !important;
}

.ocultar-form {
    display: none !important;
}

.content-header .fa {
    font-size: 18px;
}

.shopping {
    display: relative;
}

.cart {
    font-size: 20px !important;
}

.shopping .monto {
    text-align: center;
    white-space: nowrap;
    position: relative;
    padding: 2px;
    width: auto;
    margin-bottom: 0px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
    background: #ffb902;
    font-size: 11px;
    color: #000000;
}

.shopping a .num {
    position: relative;
    right: 9px;
    top: -10px;
    left: -7px;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 11px;
    color: #222;
    font-weight: bold;
    background: #ffb902;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}


/*CARRITO-HEADER*/

.close-carrito {
    position: absolute;
    top: -5px;
    right: 7%;
    line-height: normal;
}

.close-carrito span {
    color: tomato;
    font-size: 35px;
    cursor: pointer;
}

#carrito-header {
    width: 350px;
    background: #fff;
    height: auto;
    /* display: none; */
    position: absolute;
    right: 50px;
    /* top: 100px; */
    top: 0px;
    z-index: 99999;
    /* border: 2px solid #eee; */
    border-radius: 7px;
}

#carrito-header .card-resumen {
    padding: 15px 10px;
}

.carrito-mostrar {
    display: block !important;
}

#carrito-header ul {
    max-height: 282px;
    overflow: auto;
}

#carrito-header .item-cart {
    border-bottom: 1px solid #eee;
}

#carrito-header .item-product {
    width: 90%;
    height: 140px;
    margin: auto;
    display: flex;
}

#carrito-header .item-product .txt-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

#carrito-header .item-cart a {
    color: #262626;
}

#carrito-header .cantidad,
#carrito-header .x {
    padding-right: 5px;
    color: #262626;
}

#carrito-header .item-product .txt-item .name,
#carrito-header .item-product .txt-item .price {
    /* display: block; */
    width: 100%;
    line-height: 18px;
    text-align: left !important;
    padding: 5px;
}
#carrito-header .item-product .txt-item .name{
    color: #262626;
    
}
.remove-prod {
    font-size: 25px;
}

#carrito-header .resumen .line-products p,
#carrito-header .card-resumen .body-card-res p {
    line-height: 20px;
    height: 20px;
    color: #262626;
}

.num-products {
    padding-right: 5px;
}


/*SLIDER*/

#wrapper {
    width: 100%;
    height: calc(100vh - 200px);
}

#wrapper .item {
    width: 100%;
    height: calc(100vh - 200px);
    position: relative;
}

#wrapper .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*background-size: cover;*/
    background-position: center;
    background-repeat: no-repeat;
}

#wrapper .redireccionar {
    width: max-content;
}

#comunicado {
    width: 100%;
    height: 100px;
    background: #eee;
}

#comunicado .container {
    display: flex;
    margin: auto;
    text-align: center;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.content-center {
    width: 420px;
    height: 170px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    flex-direction: column;
    color: #58595b;
    font-size: 30px;
    font-weight: 500;
    opacity: 0.9;
    background: rgba(244, 244, 244, 0.86) !important;
    /*    border-radius: 35px 0 35px 0;*/
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
}

.content-center p {
    width: 100%;
    /* width: max-content;
    height: max-content; */
    /* margin: auto; */
    /* background: #c5c5c5 !important; */
    padding: 0 0px 10px 0px;
    box-sizing: border-box;
}

.content-center .redireccionar {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    border-radius: 5px;
    /* transition: ; */
}

#wrapper .owl-carousel .owl-nav {
    position: absolute;
    width: 90%;
    margin: auto;
    top: 44%;
    left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
}

#wrapper .owl-carousel .owl-nav .owl-prev span,
#wrapper .owl-carousel .owl-nav .owl-next span {
    opacity: 0;
    visibility: hidden;
}

#wrapper .owl-carousel:hover .owl-nav .owl-prev span,
#wrapper .owl-carousel:hover .owl-nav .owl-next span {
    height: 40px;
    width: 40px;
    color: #fff;
    display: inline-block;
    float: none;
    font-size: 35px;
    line-height: 28px;
    margin: 2px;
    vertical-align: top;
    padding: 5px 13px;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.9);
    opacity: 1;
    visibility: visible;
}

#wrapper .owl-carousel .owl-nav .owl-prev:hover,
#wrapper .owl-carousel .owl-nav .owl-next:hover {
    background: #000 !important;
    color: #fff !important;
}

#wrapper .owl-dots {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 50px;
    left: 0;
    flex-wrap: wrap;
}

.owl-carousel button.owl-dot,
.owl-carousel button.owl-prev,
.owl-carousel button.owl-next {
    outline: none;
}

#wrapper .owl-carousel button.owl-dot {
    width: 16px;
    height: 16px;
    background: #000 !important;
    border-radius: 50%;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

#wrapper .owl-carousel .owl-dots .active {
    background: #fff !important;
    /* border: 1px solid #000; */
}


/*CATEGORIAS*/

#banner .container {
    margin-top: 50px !important;
    /* margin-bottom: 25px !important; */
}

.banners-content {
    padding: 20px 0;
    flex-wrap: wrap;
}

.item-banner {
    width: 33%;
    border-radius: 20px;
    color: #898989;
    cursor:pointer;
}

.item-banner img {
    width: 90%;
    margin: auto;
    height: 70%;
    object-fit: cover;
    border-radius: 5px;
    transition: all .4s ease;
}

.item-banner .pie-banner {
    width: 90%;
    margin: auto;
    height: 30%;
    padding: 5px 0;
    text-align: center;
}

.pie-banner a {
    font-size: 15px;
    color: #808080;
}

.pie-banner a:hover {
    color: #473939;
}

.text-banner h1 {
    font-size: 35px;
}


/* SLIDER DE ENLACES */

#tab {
    margin-bottom: 60px;
}

#tab .container {
    width: 100%;
}

#slider-options {
    width: 100%;
    height: 50px;
    background: #ededed;
    /* border-bottom: 2px solid #ededed; */
    position: fixed;
    top: 60px;
    /* z-index: 99999; */
}

#slider-options a {
    width: 100%;
    height: 100%;
    color: #262626;
    /* line-height: 50px; */
    border: 0;
    font-size: 16px;
    background: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 5px;
}

#slider-options .owl-item {
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: background 0.9ms; */
}

.active-btn {
    border-bottom: 3px solid rgba(244, 176, 0, 1) !important;
    /* background: rgba(244, 176, 0, 1) !important; */
    font-weight: 600;
    /* border-bottom: 1px solid tomato; */
}

#slider-options .owl-item:focus {
    background: red;
}

#slider-options .owl-stage-outer {
    height: 100%;
}

#slider-options .owl-stage {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#slider-options .owl-nav {
    width: 0;
    height: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    top: 40%;
    left: 3%;
    bottom: 0;
    right: 0;
}

#slider-options .owl-nav .owl-prev {
    position: absolute;
    left: 0;
    top: 15%;
    outline: none;
    font-size: 20px;
}

#slider-options .owl-nav .owl-next {
    position: absolute;
    right: 0;
    top: 15%;
    outline: none;
    font-size: 20px;
}

#slider-options .owl-nav button:hover {
    background: none;
    color: #262626;
}

#slider-enlaces .owl-stage {
    height: 100%;
    text-align: center;
}

#slider-options .owl-dots {
    display: none;
}

#panels {
    position: relative;
    top: 110px;
}

#panels:last-child {
    padding-bottom: 120px;
}

.transform {
    transform: translate3d(-240px, 0px, 0px) !important;
}

.tabPanel {
    width: 100%;
    padding: 40px 0 10px 0;
    /* background: yellow; */
}

.title-panel {
    font-size: 22px;
    color: #222222;
    text-align: center;
}

#sec-products {
    margin-top: 20px;
}


/*  */

#modal-login{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    /*height: calc(100% - 60px);*/
    position: fixed;
    top:0;
    display: none;
    /*z-index: 2;*/
    z-index: 99999;
}

#modal-carrito-header{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top:0px;
    /*top:100px;*/
    display: none;
    /*z-index: 2;*/
    z-index: 99999;
}

#modal-sugerencias {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
     z-index: 99999;
}


header #modal-login,
header #modal-carrito-header {
    top: 100px;
    left: 0;
}

#header-search #modal-login,
#header-search #modal-carrito-header {
    top: 60px;
    left: 0;
}


/*  */


/* header-buscat */

#header-search {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    background: #000;
    z-index: 99999;
    color: #fff;
}

#header-search #main-nav {
    display: none;
}

.fa-arrow-circle-left {
    font-size: 34px !important;
    color: #fff;
    /* color: rgba(0, 0, 0, 0.8); */
    padding: 7px;
}

#header-search .container {
    /* padding: 10px 0; */
    display: flex;
    align-items: center;
}

#header-search .search-box {
    top: 0;
}

.search-box-header {
    width: 80%;
    height: 30px;
    background: #fff;
    border-radius: 5px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.search-txt-header {
    width: 85%;
    height: 100%;
    border: none;
    padding: 5px;
    border-radius: 7px;
    font-size: 15px;
    /* background: none; */
    /* border: 1px solid #c0bfbf; */
}

#header-search .search-btn {
    /* line-height: 100%; */
    color: #fff;
    padding: 0 15px;
    text-align: center;
    display: flex;
    align-items: center;
}

#header-search #btn {
    display: block;
}

.white {
    color: #fff !important;
}

#header-search .search-btn .fa {
    font-size: 20px;
}

#header-search .fa-user-circle {
    color: #fff !important;
}

#header-search #form-box {
    /* position:  !important; */
    /* top: 50px; */
}


/* DESCRIPCION:PRODUCTO */

#modal-desc {
    width: 100%;
    height: 100vh;
    position: fixed;
    /*top: 0;*/
    left: 0;
    bottom:0;
    right:0;
    z-index: 999999;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}

.desc-card {
    width: 70%;
    height: max-content;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #fff;
    border-radius: 15px;
    padding: 0 10px;
}

.desc-card .container {
    display: flex;
    flex-direction: column !important;
    height: 100%;
}

.col-desc {
    display: flex;
    width: 100%;
    height: calc(100% - 36px);
}

.img-desc {
    width: 45%;
    height: 90%;
    margin: auto;
}

#modal-desc .img-desc img {
    object-fit: contain;
}

.row-desc {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 90%;
    margin: auto;
    padding: 0 5px;
}

.body-desc {
    border-bottom: 1px solid #ededed;
    width: 100%;
    height: 70%;
    padding: 10px;
    box-sizing: border-box;
}

.footer-desc {
    width: 100% !important;
    height: 30%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-desc .redireccionar {
    margin: 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: max-content;
}

.footer-desc .redireccionar .price {
    margin: 0;
    display: flex;
    align-items: center;
    padding-left: 5px;
    color: #fff;
    font-weight: 500;
}


/* .footer-desc {
    display: block;
} */

.footer-desc .nice-number input {
    width: 45px !important;
    padding: 6px 0;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 26px;
}

.text-name {
    padding-bottom: 20px;
    /* height: 30%; */
}

.text-desc {
    padding-bottom: 20px;
    /* height: 40%; */
}

.precio-desc {
    /* height: 30%; */
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.text-name p {
    color: #262626;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.text-desc {
    /* padding: 10px 0; */
    color: #808080;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.precio-desc p {
    font-size: 18px !important;
}

.close-desc {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 36px;
    padding: 5px 10px;
}

.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background: #333;
    width: 25px;
    height: 25px;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
}


/*NOVEDADES*/

#novedades .novedades-content {
    width: 100%;
    padding: 0 0 50px 0;
}

#novedades .end {
    justify-content: center;
    align-items: end;
    align-content: center;
}

.title-section {
    text-align: center;
    font-size: 30px;
}

.nav-novedads {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-nav {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.item-nav a {
    font-weight: 500;
}

.nav-novedads a {
    color: #888;
}

#novedades .products {
    width: 100%;
    padding: 25px 0;
}

.products .cont {
    padding: 0 0 25px 0;
    justify-content: center;
}

.products .row {
    flex-wrap: wrap;
}

.card-product {
    position: relative;
    width: 250px;
    height: auto;
    border: 1px solid #eee;
    /* box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); */
    /* border-radius: 15px; */
    margin: 10px;
}

.card-product .container {
    width: 90% !important;
    height: auto;
}

.card-product .container .img-card {
    width: 100%;
    height: 200px;
}

.card-product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.item-pie .redireccionar {
    width: 120px;
    height: 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 9px !important;
}

.item-pie .redireccionar span {
    font-size: 22px;
    padding-right: 5px;
    -webkit-transition: all 0.5s ease 0s;
}

.item-pie .redireccionar:hover,
.item-pie .redireccionar:hover span {
    color: #fff;
}

.card-product:hover .opciones {
    opacity: 1;
    visibility: visible;
}

.card-product .item-content .name {
    display: block;
    color: #000;
    font-size: 13px;
    line-height: 20px;
    transition: all 500ms ease 0s;
    text-transform: capitalize;
    font-weight: 700;
}

.descrip-item {
    line-height: 18px;
    font-size: 13px;
    text-align: left;
    color: #898989;
    padding-top: 8px;
}

#tab .card-product .price {
    font-size: 16px !important;
}

.card-product .price,
.item-cart .price {
    display: flex;
    color: #262626;
    font-weight: 600;
    font-size: 16px;
}

.item-cart .price {
    display: flex;
}

.card-product .ver {
    font-size: 20px !important;
    color: #ffb902;
    transition: all 0.4s ease;
}

.item-pie {
    width: 100%;
    height: 45px;
    margin-bottom: 5px;
}


/* .item-pie .nice-number { */

.item-pie .nice-number {
    position: absolute;
    right: 16px;
    bottom: 8px;
}

.item-pie .col {
    width: auto !important;
}

.agregar:hover {
    background: #222;
    color: #ffb902;
}


/* .nice-number :nth-child(1) {
    border-radius: 8px 0 0 8px;
    background: #ccc;
}

.nice-number :last-child {
    border-radius: 0 8px 8px 0;
    background: #ccc;
} */

.nice-number input[type=number] {
    position: relative;
    width: 45px !important;
    height: 30px;
    margin: auto;
    float: left;
    display: block;
    line-height: 1.65;
    border: 1px solid #eee;
    text-align: center;
    outline: 0;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.nice-number button {
    width: 30px !important;
    background: #fff;
    border: 1px solid #888;
    color: #ffb902;
    cursor: pointer;
    font-size: 19px;
}

.card-product .container .item-pie #inputNum {
    display: none;
}

.mostrar-input {
    display: block !important;
    justify-content: center;
    align-items: center;
}

.ocultar {
    display: none !important;
}


/*SECTION:Footer*/

footer {
    background: #000;
    color: #fff;
    position: relative;
}

footer .container {
    padding: 50px 0;
}

.title-footer {
    text-align: center;
}

.card-footer {
    width: 20%;
    padding: 5px;
    box-sizing: border-box;
}

.content-msj {
    text-align: center;
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 8px;
    font-size: 18px;
}

.enlacesa,
.contacto ul li {
    color: #888;
    font-size: 12px;
    letter-spacing: .6px;
    font-weight: 400;
}

.enlacesa:hover,
.enlacesa i:hover,
.item-pie a:hover {
    color: #ffb902;
}

.contacto ul li i {
    color: #ffb902;
    font-size: 18px;
    padding-right: 1px;
}

.enlaces-rap ul,
.contacto ul {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.social ul {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social {
    text-align: center;
}

.social a {
    padding-right: 20px;
}

.social i {
    font-size: 28px;
    color: #888;
}

.copyright {
    width: 100%;
    border-top: 1px solid #888;
    padding: 20px 0;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright a {
    color: #fff;
    padding-left: 5px;
}
.close-modal{
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}
.btn-close{
    cursor: pointer;
    font-size: 35px;
    
}

.form-sugerencias{
    max-width: 600px;
    height: max-content;
    background: #fff;
    border-radius: 7px;
}
.content-sug{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.content-sug .header-form-sug{
    width: 100%;
    height: 60px;
    padding: 10px;
    background: #000;
    display: flex;
    justify-content: center;
    align-content: center;
}
.header-form-sug img{
    width:max-content; 
    height: max-content;
    
}

.form-sug{
    width: 90%;
    margin: auto;
    border: 2px solid #ededed;
    margin-top:30px; 
    margin-bottom:30px; 
}
.title-form{
    width: 100%;
    color: #262626;
    font-size: 17px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
.form-sug form{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.form-sug form label{
    font-size: 14px;
}

.form-sug form input{
    font-size: 15px;
    width: 100%;
    margin: auto;
    height: 40px;
    outline: none;
    margin-top: 15px;
    border: 1px solid #ededed;
    padding: 8px;
}


.form-sug form textarea{
    font-size: 15px;
    width: 100%;
    margin: auto;
    height: 80px;
    border: 1px solid #ededed;
    outline: none;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 8px;
}



/*--------PAG.2---------*/

.back{
    color:#fff;
    
}

#nav-banner {
    width: 100%;
}

#nav-banner .container {
    width: 100%;
}

.banner-cat {
    width: 100%;
    height: 130px;
    background: #f5f5f5;
}

.banner-cat img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

#nav-banner .card-product .container {
    width: 90%;
}

#nav-banner .main {
    width: 90%;
    margin: auto;
    padding: 20px 0;
}

#nav-banner .main .col1-main {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.col1-main .resultado {
    color: #333e48;
    font-weight: 400;
}

.title-cat {
    /* font: 600 20px/26px 'Poppins', sans-serif !important; */
    text-transform: capitalize !important;
    color: rgb(51, 62, 72) !important;
    font-size: 26px;
    font-weight: 600;
}

#nav-banner .main .descripcion-cat {
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333e48;
    line-height: 26px;
}

.nav-row {
    width: 100%;
    background: #f5f5f5;
    padding: 8px 0;
    text-align: left;
    overflow: hidden;
}

.nav-row ol {
    width: 90%;
    margin: auto;
}

.nav-row ol li {
    padding: 3px 6px;
    font-size: 12px;
    color: #bbb;
}

.nav-row ol li:nth-child(1) {
    border-right: 1px solid #898989;
}

.nav-row ol li a {
    font-size: 15px;
}

.nav-row ol li:hover a {
    color: #ffb902;
}

.item-nav-ol::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffb902;
    transition: width .3s;
}

.item-nav-ol:hover::after {
    width: 100%;
    margin: auto;
    transition: width .3s;
}

.productos-cat {
    padding: 0 0 60px 0;
    margin: auto;
}

.opciones-cat {
    background: #f2f2f2;
    padding: 20px 0;
}

.row-op {
    display: flex;
    align-items: center;
}

.row-op .resultado {
    padding-left: 20px;
}

.opciones-cat .list li {
    padding: 4px;
    border: 1px solid #222222;
    margin-left: 10px;
    -webkit-transition: all 0.5s ease 0s;
}

.opciones-cat .list li:hover {
    border: 1px solid #ffb902;
}

.opciones-cat .list li:hover a {
    color: #ffb902;
}

.opciones-cat .list li a {
    font-size: 20px;
}

.col-combo {
    width: 98%;
    margin: auto;
}

.control {
    padding: 0 10px;
}

.control li {
    padding: 0 5px;
}

.productos-cat .products {
    padding: 20px 0;
}


/*----------------------*/


/*CARRITO*/

#carrito {
    width: 100%;
}

#carrito .carrito-box {
    width: 100%;
    padding: 30px 0;
}

#carrito .detalles {
    width: 95%;
    border: 1px solid #f5f5f5;
}

#carrito .detalles .header-box {
    padding: 15px;
    border-bottom: 1px solid #f5f5f5;
}

#carrito .detalles .body-box {
    width: 100%;
    padding: 15px;
}

.det-mov {
    display: none;
}

.title-header {
    color: #262626;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}

.item-cart {
    display: block;
}

.item-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-item {
    width: 140px;
    height: 140px;
}

.img-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.options-item {
    display: flex;
    justify-content: space-between;
}

.total-item .total,
.neg {
    font-size: 16px;
    font-weight: 600;
    color: #262626;
}

.total-item {
    padding: 0 15px;
}

.remove-product .fa {
    font-size: 18px;
    color: #222;
    padding-left: 15px;
}

.remove-product:hover .fa {
    color: #ffb902;
}

.item-product #inputNum {
    display: block;
}

.link-comprar {
    color: #262626;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 0;
    text-align: center;
}

.link-comprar:hover {
    color: #ffb902;
}

#carrito .resumen {
    width: 33%;
    height: -webkit-fill-available;
    border: 1px solid #f5f5f5;
}

.line-products {
    padding: 15px 10px;
}

.card-resumen {
        padding: 15px 10px;
    /*padding: 15px;*/
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}

.flex {
    display: flex;
}

.btn-cart,
.btn-cart-header {
    line-height: 15px;
    height: auto;
    padding: 10px 25px;
    background: #878787;
    color: #fff;
    border: 0;
    font-weight: 400;
    font-size: 16px;
}

.btn-cart-header:hover {
    background: #262626;
}


/*----------------------*/


/* ------------------------------------ */


/*FINALIZAR COMPRA */

#finalizar .container {
    padding: 50px 0;
}

.row-one-finalizar {
    width: 70%;
    border: 1px solid #ededed;
}

.box-datos {
    border-bottom: 1px solid #ededed;
}

.box-datos .header-box {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5f5f5;
    /* padding: 15px 0; */
    /* border-top: 1px solid #bbb; */
    border-bottom: 1px solid #ededed;
}

.title-box {
    color: #262626;
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
}

.title-box b {
    padding-left: 5px;
    padding-right: 5px;
}

.fa-pencil {
    padding-right: 5px;
}

.ancla {
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
    color: rgb(66, 58, 58);
    /* display: none; */
}

.mostrar-ancla {
    display: block;
}

.ancla:hover {
    /* background: #025a4b; */
}

.box-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.box-header {
    width: 90%;
    margin: auto;
    padding: 40px 0;
}

.box-header .col-input {
    display: flex;
    /* flex-direction: column; */
    padding: 5px;
    align-items: center;
}

.col-input .label-field {
    width: 30%;
    padding: 5px 0;
    font-size: 14px;
    font-weight: 400;
    color: #808080;
    display: flex;
    align-items: center;
}

.col-input .input-box {
    width: 50%;
    height: 40px;
    border: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.box-radios {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.col-input .comentario {
    width: 20%;
    text-align: center;
    font-size: 14px;
}

.input-radio {
    padding: 0 20px;
}

.btn-enviar {
    width: 150px;
    height: 50px;
    background: #ffb902;
    color: #fff;
    border: 0;
    font-size: 16px;
    cursor: pointer;
}

.op-one {
    padding: 5px;
    color: #262626;
    font-size: 15px;
    font-weight: 600;
}

.formu-datos {
    padding: 20px 0;
}

.pie-boxone {
    padding: 0 0 20px 0;
}

.pie-boxone .enlaces-op {
    padding: 10px 0;
}

.pie-boxone .enlaces-op .op i {
    padding-left: 5px;
    font-weight: 300;
}

.pie-boxone .enlaces-op .op {
    padding: 8px 0;
    color: #262626;
    font-size: 15px;
    font-weight: 600;
}

.op-text {
    color: #808080;
    font-size: 15px;
    padding: 8px 0;
}

.pie-boxone .uno {
    width: 55%;
    margin: auto;
    text-align: justify;
    font-size: 15px;
    font-weight: 600;
    color: #222;
}

.pie-boxone .uno span {
    padding-left: 6px;
}

.pie-boxone .box-row {
    padding: 5px 0;
}

.pie-boxone .box-row input {
    padding-right: 5px;
}

.pie-boxone .box-row {
    padding: 8px 0;
    color: #262626;
    font-size: 18px;
    font-weight: 600;
}


/* DELIVERY */

.box-header .container {
    width: 100% !important;
    padding: 0 !important;
}

.delivery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ededed;
    padding: 15px 5px;
}

.delivery .rwo-dev {
    width: 94%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.delivery input {
    /* padding-left:5px; */
}

.carrier-name {
    display: flex;
    align-items: center;
    color: #262626;
}

.carrier-name span {
    font-size: 16px;
    font-weight: 700;
}

.order-options {
    padding: 20px 0;
}

.order-options textarea {
    width: 100%;
    height: 70px;
    outline: none;
    border: 1px solid #ededed;
    padding: 5px 0 0 0;
}

.order-options label {
    font-size: 14px;
    color: #262626;
    font-weight: 600;
}

.item-box {
    display: flex;
    align-items: center;
}

.item-box input {
    margin-right: 7px;
}

.row-two-finalizar {
    width: 30%;
    height: -webkit-fill-available;
    margin-left: 10px;
    /* background: red; */
    border: 1px solid #ededed;
}

.mostrar-det {
    color: #262626;
}

.mostrar-det:hover {
    color: #ffb902;
}

#finalizar .resumen .img-item {
    width: 100px;
    height: 100px;
}

#finalizar .resumen .txt-item {
    width: 70%;
    font-size: 14px;
}

#finalizar .resumen .txt-item .price {
    justify-content: flex-end;
}

#finalizar .line-products {
    padding: 10px 15px;
}

#list-products {
    display: none;
}

.mostrar-list {
    display: block !important;
}


/*----------------------*/

@media only screen and (max-width: 479px) {
    
    /*:C*/
    .close-carrito {
    
        right: 18px;
    }
    header #logo {
            left: -8px;
    }
    header .checkbtn{
            width: 22%;
    }
    header .row-rev {
        display: flex;
        flex-direction: row-reverse;
        width: 48%;
        position:relative;
        right:1%;
        /* background: green; */
    }
    header .car-box{
        width: 30%;
        justify-content: flex-end;
    }
    header #user-box{
        position: relative;
        left: -16%;   
    }
    
    
    
    .item-banner img {
        width: 80%;
    }

    .item-pie .nice-number {
        position: absolute;
        right: 0px;
        bottom: 8px;
    }

    .user {
        /* left: 40px; */
        padding: 0;
    }

    #logo {
        position: relative;
        /*        left: -38px;*/
    }

    .shopping .monto {
        margin-right: 5px;
    }

    #header-search .search-box .search-txt {
        /*width: 165px;*/
    }

    .search-btn {
        padding: 3px !important;
    }

    #banner .container {
        /* margin-top: 50px !important; */
        margin-bottom: 25px !important;
    }

    #btn {
        /* left: 13px !important; */
    }

    #banner .container {
        width: 90%;
        margin: auto;
        padding: 10px 0;
    }

    #banner .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #banner .item-banner {
        width: 50%;
        margin-top: 20px;
    }

    /* CARRITO-HEADER */
    header {
        display: flex;
    }

    header .container {
        width: 90%;
        justify-content: space-evenly !important;
    }

    #carrito-header,
    #form-box {
        width: 100% !important;
        height: calc(100vh - 100px);
        left: 0;
    }

    header #carrito-header {
        top: 0;
        border-radius: 0;
    }

    #form-box {
        border-radius: 0;
    }
    #modal-login .form-box-lo,
    #modal-carrito-header .form-box-lo{
        top:100px;
    }
    #modal-login .form-box-log-prod,
    #modal-carrito-header .form-box-log-prod{
        height: calc(100vh - 50px);
        top:50px;
    }

    /* HEADER SEARCH */
    #header-search #btn {
        display: block;
    }

    #header-search .search-box {
        /* color: #fff; */
        width:45%;
        top: 0;
        background: none;
    }
     #header-search .space-between{
           /*justify-content: space-evenly;*/
    }


    #header-search .search-btn {
        color: #fff;
        /* top: 0; */
    }

    #header-search #user-box a {
        color: #fff !important;
    }

    #header-search #car-box {
        display: flex;
        flex-direction: row !important;
    }

    #header-search #form-box {
        position: fixed;
        z-index: 999999;
        /* top: 20px; */
        top: 60px;
        height: calc(100% - 60px);
    }

    /* TAB:SLIDER DE LINKS */
    #tab .container {
        width: 100%;
    }

    .title-panel {
        padding: 20px 0 10px 10px;
        text-align: left;
    }

    #tab .card-product {
        margin: 0;
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        box-shadow: none;
    }

    .card-product .container {
        width: 95% !important;
        margin: auto;
        padding: 10px 0;
    }

    /* CARRITO-header de PROD */
    #header-search #carrito-header {
        top: 0px;
        height: calc(100vh - 60px);
        border-radius: 0;
    }

    /*SECTION:NAV-NOVEDADES*/
    /*NOVEDADES*/
    #novedades .novedades-content {
        width: 100%;
    }

    .products .row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .products .card-product {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }

    .descripcion {
        height: 200px !important;
    }

    .descripcion .body-desc {
        font-size: 14px;
    }

    .card-product .container .img-card {
        width: 100%;
        height: 80%;
        margin: auto;
        /* background: red; */
        /* border: 1px solid red; */
    }

    #desc-producto .price {
        color: beige;
        font-size: 15px;
        padding: 0;
    }

    .card-product .container {
        width: 95%;
        display: flex;
        flex-direction: row;
    }

    .card-product .img-card {
        width: 122px !important;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-product img {
        width: 100%;
        /* height: 100%; */
        object-fit: contain;
        object-position: center;
    }

    .card-product .body-card {
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 8px;
    }

    .card-product .body-card .item-pie,
    .card-product .body-card .item-content {
        padding: 5px 0;
    }

    .card-product .item-content .name {
        font-size: 13px;
    }

    #tab .card-product .price {
        font-size: 16px !important;
    }

    .item-pie .redireccionar {
        width: 100%;
        padding: 10px 22px;
    }

    .item-pie .col {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item-pie #inputNum {
        display: none;
    }

    .item-pie .nice-number {
        position: relative;
        bottom: 0;
    }

    #novedades .redireccionar {
        width: 80%;
    }

    /* DESCRICCION DEL PRODUCTO */
    .desc-card {
        position: relative;
        top: 12px;
        left: 0;
        right:0;
        bottom:0;
        background: #fff;
        z-index: 9999999;
        width: 100%;
        height: calc(100vh - 12px);
        border-radius: 15px 15px 0 0;
        box-sizing: border-box;
        overflow-x: auto;
    }

    .col-desc {
        display: flex;
        flex-direction: column;
    }

    .img-desc {
        width: 100%;
        max-height: 350px;
    }

    .row-desc {
        width: 100%;
        height: max-content;
    }
    .body-desc{
        height: max-content;    
    }
    .footer-desc .redireccionar{
        padding: 10px;
    }
    .footer-desc .nice-number input[type=number]{
        width: 35px !important;
        font-size:16px;
    }
    .footer-desc .nice-number button{
        width: 22px !important;
    }

    /*2*/
    #nav-banner .row {
        display: flex;
        flex-direction: row;
    }

    .productos-cat {
        padding: 20px 0;
        margin: auto;
    }

    .opciones-cat {
        padding: 12px 0;
    }

    /* CARRITO-HEADER */
    #carrito-header .item-product {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    /*CArrito*/
    #carrito .detalles {
        width: 100%;
    }

    .det-mov {
        display: block;
    }

    .txt-item {
        width: 100%;
    }
    .item-cart {
        border-bottom: 1px solid #ededed;
        padding: 8px 0;
    }
    #carrito .detalles .body-box ul li:last-child{
        border-bottom: 0;
    }

    .item-cart .name {
        text-align: center;
        padding: 5px 0;
    }

    .item-product {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .price-box,
    .total-item {
        display: flex;
        justify-content: space-between;
            align-items: center;
        padding: 5px 0;
    }

    .nice-number {
        padding: 0;
        margin: 0;
    }

    .options-item {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .remove-product {
        text-align: center;
    }

    .link-comprar {
        padding-left: 10px;
    }

    .resumen {
        margin-top: 20px;
    }

    /* 20/06 */
    .delivery input {
        margin-top: -80px !important;
    }

    .delivery .rwo-dev {
        width: 85%;
        display: flex;
        justify-content: start;
        flex-direction: column;
        /* align-items: center; */
    }

    .carrier-name {
        width: 100%;
    }

    .carrier-delay,
    .carrier-price {
        width: 100%;
        font-weight: 500;
    }

    /*FINALIZAR  */
    #finalizar .item-product {
        display: flex;
        flex-direction: row;
    }

    #finalizar .item-cart .txt-item p {
        font-size: 14px;
        text-align: left;
        color: #262626;
    }

    /* PRODUCTOS-slider */
    #slider-options {
        height: 50px !important;
        /* line-height: normal; */
    }

    #slider-options button {
        /* height: 70px !important; */
        line-height: normal;
    }

    #panels {
        padding-bottom: 120px;
    }

    .tabPanel {
        padding-top: 10px;
        padding-bottom: 0;
        /* padding-bottom: 70px; */
    }
    .form-sugerencias{
        border-radius:0;
    }
}

@media only screen and (max-width: 560px) {
    .row-rev {
        display: flex;
        flex-direction: row-reverse;
    }

    #header-search .search-txt {
        display: block;
        font-size: 16px;
    }

    #header-search .search-box {
        background: #222;
        /* padding-right: 2px; */
        box-sizing: border-box;
    }

    #header-search .cart {
        display: flex;
    }


    header .search-box {

        /*width: 165px;*/
        display: flex;
        /*margin-left: 11px;*/

    }

    .shopping a .num {
        left: 0;
    }

    .content-center {
        width: 274px;
        height: 150px;
        font-size: 26px;
    }

    #wrapper .owl-carousel .owl-nav {
        width: 98%;
        margin: auto;
        top: 44%;
        left: 1%;
    }

    .content-center p {}
}

@media only screen and (max-width: 800px) {
    #carrito-header {
        top: 0;
        right: 0;
        border-radius: 0;
    }

    #main-nav,
    #cd-cart {
        width: 350px;
    }

    #banner .row {
        display: flex;
        flex-direction: row;
    }

    .body-card .row {
        display: flex;
        flex-direction: row;
    }

    .products .cont {
        display: flex;
        flex-direction: row;
    }

    

    /*CARRITo*/
    .carrito-box {
        display: flex;
        flex-direction: column !important;
    }

    .resumen {
        width: 100% !important;
    }

    .resumen .row {
        display: flex;
        flex-direction: row !important;
    }

    /* 20/06 */
    #finalizar #row-one-finalizar {
        width: 100%;
    }

    #finalizar #row-one-finalizar .row {
        display: flex;
        flex-direction: row !important;
    }

    .pie-boxone .uno {
        width: 100%;
    }

    .comentario {
        padding-left: 3px;
    }

    .order-options label {
        text-align: right;
    }

    #finalizar .row-two-finalizar {
        width: 100%;
        margin: 30px 0;
        /* padding: 30px 0; */
    }
}


@media only screen and (max-width: 930px) {
    /*FOOTER*/
    #footer .row {
        display: flex;
        flex-direction: column;
    }

    .card-footer {
        display: flex;
        margin: auto;
    }

    .msj,
    .enlaces-rap,
    .contacto,
    .social {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .enlaces-rap ul,
    .contacto ul,
    .social ul {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .social ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .copyright {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

@media only screen and (max-width: 1240px) {
    #header-search label #cancel {
        top: 18px
    }
    .row-rev{
        /*width: 70%;*/ 
        display: flex;
        flex-direction: row-reverse;
    }
    
    /* ********** */
    header {
        display: flex;
        line-height: normal;
    }


    header .container {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .row-header {
        width: 100%;
    }

    #logo {
        width: 110px;
        height: 70px;
    }

    #car-box {
        display: flex;
        align-items: center;
    }

    #logo {
        width: max-content;
    }

    #user-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-box {
        width: max-content;
        display: flex;
        top: 0;
        /* background: none; */
    }

    .search-btn {
        padding-left: 5px;
    }
  
    /* ********** */
    #car-box {
        display: flex;
        align-items: center;
    }

    #logo {
        width: 100%;
        justify-content: center;
        align-items: center;

    }

    #user-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #main-nav {
        display: none;
    }

    #cd-hamburger-menu {
        display: block;
    }

    header {
        line-height: normal;
    }

    /*DESLIZAR EL NAV LATERAL*/
    .checkbtn {
        position: relative;
        display: flex;
        align-items: center;
        float: right;
    }

    #btn,
    #cancel {
        display: block;
        color: #fff;
    }

    #cancel {
        position: absolute;
        z-index: 999999;
    }

    #main-nav {
        display: block !important;
        width: 100% !important;
        position: fixed;
        top: 0;
        left: -150%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        z-index: 99999999;
        transition: opacity 500ms;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }

    .movil-nav {
        width: 300px !important;
        display: flex;
        flex-direction: column !important;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        background: #fff;
        font-weight: bold;
        z-index: 99999999;
        transition: all .5s ease;
    }

    nav .title-nav {
        display: block;
        position: absolute;
        top: 10px;
        left: 15px;
        padding: 15px;
        line-height: 45px;
        width: 80%;
        font-weight: 300;
        font-size: 25px;
        color: #222;
    }

    nav ul {
        width: 100%;
        display: block;
        flex-direction: column;
        position: absolute;
        top: 90px;
        padding: 15px;
        line-height: 45px;
        justify-content: flex-start !important;
    }

    nav ul li {
        width: 100%;
        padding: 5px 0 0 20px !important;
        border-bottom: 1px solid rgb(146, 145, 145);
        display: block;
        border-right: 0;
    }

    nav ul li a {
        width: 100%;
        display: block;
        color: #898989;
        font-size: 15px;
        font-weight: 500;
        text-align: left;
    }

    .nav-mov a {
        color: #898989;
    }

    label #cancel {
        color: #222;
        left: -130px !important;
        top: 38px;
        z-index: 9999999999999999;
    }

    #check:checked ~ #main-nav {
        left: 0;
    }

    #check:checked ~ label #cancel {
        left: 230px !important;
        top: 0px;
        
        
    }

    #check:checked ~ label #btn {
        left: -130px !important;
    }
}
